{% extends 'layout.html' %}
{% block style %}
<style>
  #main{
      padding: 30px 30px;
      width:100%;
      height:470px;
  }

  .find{
      width:450px;
  }

  .show span{
      font-size: 18px;
      color: #419bc5;
  }
</style>
{% endblock %}

{% block main %}
<div id="main">
    <div class="input-group find">
      <input type="text" class="form-control" placeholder="输入例如：1.1,1.2,5.3,0.8 四个数字，以逗号隔开" id="content"/>
      <a href="#" class="input-group-addon" id="submit">
          <span class="glyphicon glyphicon-search"></span>
      </a>
    </div>

    <div class="show">
       <h3>显示结果：</h3><span id="num"></span>
    </div>
</div>
<script>
$("#submit").click(function(){
   $("#num").text("");
   var te=$("#content").val();
   $("#content").empty();

   $.ajax({
       url:'{{ url_for("upload") }}',
       type:'POST',
       data:{
           key:te
       },
       dataType:'json',
       success:function(data){
           $("#num").text(data['result']);
       },
       error:function () {
           alert('error');
       }
   });
   return false; 
});
</script>
{% endblock %}
